@font-face {
    font-family: ow;
    src: url("../fonts/ow.woff");
}

#box {
  display: inline;
  padding: 10px;
  justify-content: space-between; 
}
.letters{
  display: inline;
  /* visibility: hidden; */
  font-size: 40px;
  letter-spacing: 20px;
}

#hang { 
  letter-spacing: 40px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  font-size: 100px;
  font-weight: bold;
  margin: 35px 0 0 0;
}

#titleContainer {
  height: 10px;
}

p{
  font-size: 60px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  font-weight: bold;
}

div {
  font-weight: bold;  
  font-size: 40px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}


body {
  background: url("../images/over.jpg") no-repeat 0 0;
  background-size: cover;
  font-family: ow;
}

button {
  font-family: ow;
  font-weight: bold;
}